<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
 		
	<beans:bean id="Security" class="com.fdf.basecode.securityImpl.SecurityImpl" />

	 <http auto-config="true">  
		<access-denied-handler error-page="/403_page" />
		<intercept-url pattern="/dashboard/**" access="ROLE_ADMIN"/>
 
		<form-login login-page="/"  default-target-url="/dashboard" authentication-failure-url="/" />
		<logout logout-success-url="/" />
	<!-- enable csrf protection 
		<csrf/>	    -->
	</http>  
  	
	<authentication-manager>  
	    <authentication-provider user-service-ref="Security">  
	        <!-- <password-encoder hash="plaintext">  -->
	        <!-- <password-encoder hash="bcrypt" ref="encoder" ></password-encoder> -->
	    </authentication-provider>  
	</authentication-manager>
	
	
<!--   <beans:bean id="encoder" 
	class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
	<beans:constructor-arg name="strength" value="11" />
  </beans:bean> -->


<!--   <authentication-manager>
    <authentication-provider>
      <jdbc-user-service data-source-ref="myDataSource" /> 
      
    </authentication-provider>
  </authentication-manager> -->
  
</beans:beans> 